.books-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-left: 10rem;
}
